/* Estilos para telas pequenas */
@media only screen and (max-width: 563px) {
  .header {
    flex-direction: row; /* Alinhar itens horizontalmente */
    justify-content: space-between; /* Espaço entre itens */
    align-items: center; /* Alinhar itens verticalmente ao centro */
  }

  .header h1 {
    text-align: left; /* Alinhar título à esquerda */
    margin-left: 20px; /* Espaço à esquerda do título */
  }

  .header .menu-icon {
    margin-left: 20px; /* Espaço à esquerda do ícone do menu */
    margin-right: 20px; /* Espaço à direita do ícone do menu */
  }

  .header.scrolled h1 {
    font-size: 20px; /* Ajustar o tamanho da fonte quando rolar */
  }

  .sidebar {
    position: fixed; /* Fixar a barra lateral */
    top: 80px; /* Ajuste conforme a altura do cabeçalho */
    left: 0;
    width: 100%;
    box-shadow: none;
  }

  .sidebar ul {
    font-size: 60%; /* Ajustar o tamanho da fonte */
    margin-left: 2%; /* Ajustar o espaço à esquerda */
  }

  .sidebar li {
    text-align: center; /* Centralizar o texto */
    columns: 1; /* Ajustar o número de colunas */
  }

  main {
    padding: 1em; /* Ajustar o preenchimento principal */
  }

  section {
    padding: 0.8em; /* Ajustar o preenchimento da seção */
    margin: auto;
    margin-bottom: 1em; /* Ajustar a margem inferior */
    width: 100%; /* Ajustar a largura */
  }

  #importância {
    margin-top: -2em; /* Ajustar a margem superior */
    padding: 0.8em; /* Ajustar o preenchimento */
    text-align: center; /* Centralizar o texto */
  }

  #importância h1 {
    font-size: 95%; /* Ajustar o tamanho da fonte */
  }

  #importância p {
    font-size: 80%; /* Ajustar o tamanho da fonte */
    margin: 2%; /* Ajustar a margem */
  }

  #importância a {
    padding: 1% 2%; /* Ajustar o preenchimento do link */
    font-size: 90%; /* Ajustar o tamanho da fonte */
  }

  footer {
    width: 100%; /* Ajustar a largura */
    padding: 0.5em; /* Ajustar o preenchimento */
    font-size: 0.9em; /* Ajustar o tamanho da fonte */
  }

  #pilares {
    background-image: url(Sustentabilidade_pilares.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  #pilares p {
    margin-bottom: 362px; /* Ajustar a margem inferior */
  }

  .sus {
    width: 0;
    opacity: 0; /* Ocultar a seção */
  }

  input,
  textarea {
    font-size: 14px; /* Ajustar o tamanho da fonte */
    width: 100%; /* Ajustar a largura */
    margin-bottom: 1rem; /* Ajustar a margem inferior */
    padding: 0.5rem; /* Ajustar o preenchimento */
  }

  textarea {
    height: 3rem; /* Ajustar a altura */
  }
}

@media only screen and (min-width: 564px) and (max-width: 911px) {
  .header {
    flex-direction: row; /* Alinhar itens horizontalmente */
    justify-content: space-between; /* Espaço entre itens */
    align-items: center; /* Alinhar itens verticalmente ao centro */
  }

  .header h1 {
    text-align: center; /* Centralizar o título */
  }

  .header .menu-icon {
    margin-right: 20px; /* Espaço à direita do ícone do menu */
  }

  .sidebar {
    position: fixed; /* Fixar a barra lateral */
    width: 100%;
    left: 0;
    box-shadow: none;
  }

  .sidebar ul {
    padding: 0;
    margin-top: 20px; /* Ajustar a margem superior */
  }

  .sidebar li {
    padding: 10px; /* Ajustar o preenchimento dos itens da lista */
  }

  .sidebar li a {
    font-size: 120%; /* Ajustar o tamanho da fonte */
  }

  main {
    padding: 1em; /* Ajustar o preenchimento principal */
  }

  section {
    padding: 1em; /* Ajustar o preenchimento da seção */
    margin-bottom: 1em; /* Ajustar a margem inferior */
    width: 100%; /* Ajustar a largura */
  }

  #importância {
    margin-top: 7em; /* Ajustar a margem superior */
    padding: 1em; /* Ajustar o preenchimento */
    text-align: center; /* Centralizar o texto */
  }

  footer {
    padding: 0.5em; /* Ajustar o preenchimento */
    font-size: 0.9em; /* Ajustar o tamanho da fonte */
  }

  input,
  textarea {
    font-size: 14px; /* Ajustar o tamanho da fonte */
    width: 100%; /* Ajustar a largura */
    margin-bottom: 1rem; /* Ajustar a margem inferior */
    padding: 0.5rem; /* Ajustar o preenchimento */
  }

  textarea {
    height: 3rem; /* Ajustar a altura */
  }
}
