
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


body {
  animation: fadeInAnimation cubic-bezier(.45, 1, .3, 1) 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
}


.header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}

.header h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
  color: #002004;
  transition: font-size 0.3s ease-in-out;
}

.header .menu-icon {
  margin-left: auto;
  cursor: pointer;
  margin-right: 20px;
}
.header.scrolled {
  padding: 10px;
  font-size: 0.3em;
  box-shadow: none;
}

.header.scrolled h1 {
  font-size: 32px;
}

.header .menu-icon .line {
  width: 35px;
  height: 4px;
  background-color: #689F38;
  margin-bottom: 3px;
  transition: transform 0.3s ease, opacity 0s ease;
}

.header .menu-icon.desactive .line:nth-child(3), .header .menu-icon.desactive .line:nth-child(1)  {
  transform: rotate(0deg) translate(0, 0);
  transform-origin: center;
}
.header .menu-icon.desactive .line:nth-child(1) {
  margin-bottom: 5px;
}

.header .menu-icon.desactive .line:nth-child(2) {
  opacity: 1;
}

.header .menu-icon.desactive .line:nth-child(3) {
  margin-top:5px;
}
.header .menu-icon .line:nth-child(1) {
  margin-bottom: -4px;
  transform: rotate(45deg);
}

.header .menu-icon .line:nth-child(2) {
  opacity: 0;
  margin: 0px;
}

.header .menu-icon .line:nth-child(3) {
  margin-top:-4px;
  transform: rotate(-45deg);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  overflow-x: auto;
}

.sidebar.desactive {
  top: -250px;
}

.sidebar ul {
  list-style: none;
  columns: 4;
  padding: 0;
  margin-top: 80px;
}

.sidebar li {
  padding: 10px 20px;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar li a {
  color: #333;
  text-decoration: none;
  font-size: 150%;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #f2f2f2;
  padding: 2em;
  margin-bottom: 2rem;
  border-radius: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  align-items: center;
  width: 90%;
}

h1, h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

button {
  background-color: #002004;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #689F38;
}

.mundo {
  width: 100%;
  height: 20em;
  margin-bottom: 20px;
}

#importância {
  margin-top: 80px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Green_Earth%2C_yellow_flower.jpg/640px-Green_Earth%2C_yellow_flower.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  color: #ffffff;
}

#importância h1 {
  color: #ffffff;
  font-size: 200%;
  margin-bottom: 19%;
}

#importância p {
  margin: 0.1%;
  font-size: 150%;
}

#importância a {
  font-size: 18px;
  margin-top: 25%;
  border-radius: 2em;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.sus {
  height: 300px;
}

.t1 {
  text-align: justify;
  padding: 0 2rem 0 0;
}

.frase {
  text-align: center;
}

input,
textarea {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.8em;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

textarea {
  height: 3rem;
}

footer {
  background-color: #002004;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

.envio {
  margin-top: 1rem;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 0.5em;
    flex-direction: column; /* Alinha o título e o ícone do menu em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }

  .header h1 {
    font-size: 28px; /* Reduz o tamanho da fonte para caber melhor em telas pequenas */
    margin-left: 0; /* Remove a margem esquerda para alinhamento adequado */
    text-align: center; /* Centraliza o título em relação ao cabeçalho */
  }

  .header .menu-icon {
    opacity: 1; /* Garante que o ícone do menu seja visível */
    margin: 10px 0; /* Ajusta a margem para criar espaço ao redor do ícone */
  }

  .sidebar {
    position: fixed;
    top: 50px; /* Ajusta a posição da barra lateral para se adequar ao cabeçalho */
    width: 100%; /* Faz a barra lateral ocupar toda a largura da tela */
    left: 0;
    box-shadow: none; /* Remove a sombra para uma aparência mais limpa */
  }

  .sidebar ul {
    columns: 1; /* Exibe os itens da barra lateral em uma única coluna em celulares */
    padding: 0;
    margin-top: 20px; /* Adiciona margem superior para separar do cabeçalho */
  }

  .sidebar li {
    padding: 10px;
  }

  .sidebar li a {
    font-size: 120%; /* Ajusta o tamanho da fonte para se adequar a telas menores */
  }

  main {
    padding: 1em;
  }

  section {
    padding: 1em;
    margin-bottom: 1em; /* Ajusta a margem inferior para melhorar o espaçamento */
    width: 100%; /* Faz as seções ocuparem toda a largura disponível */
  }

  #importância {
    padding: 1em;
    text-align: center; /* Centraliza o texto */
  }

  footer {
    padding: 0.5em;
    font-size: 0.9em; /* Ajusta o tamanho da fonte para se adequar ao layout compacto */
  }

  input,
  textarea {
    font-size: 14px; /* Ajusta o tamanho da fonte para uma melhor legibilidade em telas pequenas */
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  textarea {
    height: 4rem; /* Ajusta a altura do textarea para não ocupar muito espaço */
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .header {
    padding: 0.75em;
  }

  .header h1 {
    font-size: 40px; 
  }

  .header .menu-icon {
    margin-right: 15px;
  }

  .sidebar {
    top: 80px; /* Ajusta a posição da barra lateral para se adequar ao cabeçalho em tablets */
  }

  .sidebar ul {
    columns: 3; /* Ajusta a quantidade de colunas em tablets */
  }

  main {
    padding: 1.5em;
  }

  section {
    padding: 1.5em;
    margin-bottom: 1.5rem;
  }

  #importância {
    background-image: none;
    padding: 1.5em;
  }

  footer {
    padding: 0.75em;
  }

  input,
  textarea {
    font-size: 1em; 
  }

  textarea {
    height: 4rem;
  }
}
